# for Loop

### for VARIABLE in range(initial,exclusive final,step)

In [8]:
print("maaz")
print("maaz")
print("maaz")
print("maaz")
print("maaz")

maaz
maaz
maaz
maaz
maaz

In [9]:
for i in range(5): # range(5) = range(0,5,1)  ,  range(start,end+1,step or increment)
    print("maaz")

maaz
maaz
maaz
maaz
maaz

In [10]:
for i in range(5):           # range(5) = range(0,5,1)  ,  range(start,end+1,step or increment)
    print(i, "maaz")

0 maaz
1 maaz
2 maaz
3 maaz
4 maaz

In [11]:
for i in range(100,110):           # range(start,end+1,step or increment)
    print(i)

100
101
102
103
104
105
106
107
108
109

In [17]:
for i in range(1,10,2):           # range(start,end+1,step or increment)
    print(i)

1
3
5
7
9

In [18]:
for i in range(100,90,-1):           # range(start,end-1,step or decrement)
    print(i)

100
99
98
97
96
95
94
93
92
91

In [19]:
for i in range(100,0,-5):           # range(start,end-1,step or decrement)
    print(i,end=",")

100,95,90,85,80,75,70,65,60,55,50,45,40,35,30,25,20,15,10,5,

## for loop on list

In [21]:
arr= ['a', 3 , 4.5 , True , "string" , (1,2.3)]

for a in arr:             #in each iteration a value form arr is assigned to variable a
    print(a)

a
3
4.5
True
string
(1, 2.3)

In [22]:
cities=['KARACHI','ISLAMABAD','LAHORE','PESHAWAR','QUETTA']
for city in cities:
    print(f"City under consideration is {city}")

City under consideration is KARACHI
City under consideration is ISLAMABAD
City under consideration is LAHORE
City under consideration is PESHAWAR
City under consideration is QUETTA

In [24]:
for num in [11,22,33,44,55,66,77]:
    if num==11:
        print("Multiples if 11 are:")
    print(num , end=", ")

Multiples if 11 are:
11, 22, 33, 44, 55, 66, 77,

## for loop on string

In [26]:
country = 'Pakistan'
for a in country:
    print(a)

P
a
k
i
s
t
a
n

## for loop on tuple

In [27]:
country = 'Pakistan' , "Saudi Arabia"
for a in country:
    print(a)

Pakistan
Saudi Arabia

In [29]:
for fruit in ('apple','mango','orange','grape'):
    print(f"{fruit} is a fruit")

apple is a fruit
mango is a fruit
orange is a fruit
grape is a fruit

## Break statement in for loop

In [30]:
for num in range(10):
    if num%3==1:
        break
    print(num)

0

In [31]:
for num in range(10):
    if num%3==0:
        break
    print(num)

In [33]:
for num in [11,7,3,90]:
    if num%2==0:
        break
    print(num)

11
7
3

## Continue statement in for loop

In [35]:
for var in range(10):
    if(var==7):
        continue
    print("I\'m not 7. I am" , var)

I'm not 7. I am 0
I'm not 7. I am 1
I'm not 7. I am 2
I'm not 7. I am 3
I'm not 7. I am 4
I'm not 7. I am 5
I'm not 7. I am 6
I'm not 7. I am 8
I'm not 7. I am 9

In [36]:
for var in range(10):
    if var==4 or var==7:
        continue
    print(var,end=" -- ")

0 -- 1 -- 2 -- 3 -- 5 -- 6 -- 8 -- 9 --

In [37]:
#printing odd numbers
for num in range(20):
    if num%2==0:   #True for even numbers 
        continue
    print(num , end=" ")

1 3 5 7 9 11 13 15 17 19

# Nested for Loop

In [39]:
print("outer_loop_no    inner_loop_no")
for a in range(5):
    for b in range(5):
        print("      ",a,"             ",b)

outer_loop_no    inner_loop_no
       0               0
       0               1
       0               2
       0               3
       0               4
       1               0
       1               1
       1               2
       1               3
       1               4
       2               0
       2               1
       2               2
       2               3
       2               4
       3               0
       3               1
       3               2
       3               3
       3               4
       4               0
       4               1
       4               2
       4               3
       4               4

In [42]:
#print table of entered number

a=int(input("Enter a number to learn the table:"))
for b in range(1,11):
    print(f"{a} * {b} = {a*b}")

Enter a number to learn the table:7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [43]:
#print tables from 2 to entered number

a=int(input("Enter a number to learn the tables:"))
for b in range(1,a+1):
    print(f"The table of {b} :")
    for c in range(1,11):
        print(f"{b} * {c} = {b*c}")

Enter a number to learn the tables:3
The table of 1 :
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
The table of 2 :
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
The table of 3 :
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30